{% extends '_layouts/main.html' %}
{% load static thumbnail %}

{% block title %}{{ song.name }}{% endblock %}
{% block page_title %}{{ song.name|title }}, {{ song.group|title }}{% endblock %}

{% block content %}
  <div class="modal fade" id="delete_song" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Delete Track</h4>
        </div>

        <div class="modal-body">
          <p>Do you really want to erase?</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

          <form action="{% url 'songs:delete_song' song.slug %}" method="post" class="form-inline">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete"/>
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <a href="{{ song.profile_picture.url }}" data-lightbox="{{ song.slug }}" data-title="{{ song }}">
        <img class="img-thumbnail" src="{{ song.profile_picture|thumbnail_url:'song_thumb' }}"
             alt="{{ song }}"/>
      </a>
      {% if user == song.owner %}
        <form class="form-horizontal" method="POST" enctype="multipart/form-data"
              action="{% url 'songs:upload_image' song.slug %}">
          {% csrf_token %}
          <input name="song_id" value="{{ song.id }}" type="hidden">

          <div class="form-group">
            <label for="another_picture" class="control-label">Add Photo</label>
            <input type="file" id="another_picture" name="another_picture">
            <span class="help-block">Maximum image size is 8MB</span>
          </div>
          <div class="form-group">
            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit Image}">
          </div>
        </form>
      {% endif %}
    </div>

    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <strong>Description:</strong><br/>
            {{ song.description }}
          </p>

          <p>
            <strong>City:</strong><br/>
            {{ song.city|title }}
          </p>

          {% if song.size %}
            <p>
              <strong>Size:</strong><br/>
              {{ song.get_size_display }}
            </p>
          {% endif %}

          {% if song.sex %}
            <p>
              <strong>Sex:</strong><br/>
              {{ song.get_sex_display }}
            </p>
          {% endif %}

          {% if user == song.owner %}
            <div class="pull-right">
              {% if not song.found_or_adopted %}
                <form action="{% url 'songs:change_status' song.slug %}" method="post" class="form-inline">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-success" value="
                    {% if song.status == song.MISSING %}
                      {% trans 'Mark as found!' %}
                    {% else %}
                      {% trans 'Mark as adopted!' %}
                    {% endif %}
                  "/>
                </form>
              {% endif %}

              <a href="{% url 'songs:edit' song.slug %}" class="btn btn-primary">{% trans 'Edit' %}</a>

              <a href="{% url 'songs:poster' song.slug %}" class="btn btn-primary">{% trans 'Generate Poster' %}</a>

              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_song">
                {% trans 'Delete Pet' %}
              </button>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% if song.photo_set.all %}
      <div class="col-md-12">
        <h3>{% trans 'More photos' %}</h3>

        <div class="row">
          {% for photo in song.photo_set.all %}
            <div class="col-md-3">
              <a href="{{ photo.image.url }}" data-lightbox="{{ song.slug }}" data-title="{{ song }}">
                <img class="img-thumbnail" src="{{ photo.image|thumbnail_url:'song_thumb' }}"
                     alt="{{ song }}"/>
              </a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
              </div>
              <div class="row">
            {% endif %}
          {% endfor %}
          </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
