{% extends '_layouts/main.html' %}
{% load i18n static %}

{% block title %}{% trans 'Registered Pet' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">

      <h2>Поздравляю, котик!</h2>

      <!--<p>Para visualizar o cadastro clique <a href="{% url 'songs:detail' %}">жмяк</a>.</p>-->

      <p>
        Ты справился с этим заданием, даже несмотря на то, что у тебя лапки.</p>

      <p>Надеемся что ты добавишь ещё пару песенок, мур :3</p>

      <i class="c-red fa fa-heart"></i></p>
    </div>
  </div>
{% endblock %}
