{% extends '_layouts/main.html' %}
{% load i18n static %}

{% block title %}{% trans 'Registered Pet' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-9">

      <h2>Obrigado!</h2>

      <p>Para visualizar o cadastro clique <a href="{% url 'songs:detail' song_slug %}">aqui</a>.</p>

      <p>
        Para aumentar ainda mais a rede de divulgação, sugerimos que você também
        compartilhe o cadastro em suas redes sociais.</p>

      <p>Você pode utilizar os botões abaixo para compartilhar no Facebook ou Twitter:</p>

      <p>Boa sorte, estamos na torcida! <i class="c-red fa fa-heart"></i></p>
    </div>
  </div>
{% endblock %}
